.threeWide {
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
}
.twoWide {
  grid-template-columns: 1fr 1fr;
  display: grid;
}
.nameFormat {
  grid-template-columns: 1fr 7fr 4fr 5fr 7fr 1fr;
  display: grid;
}
mat-form-field {
  padding: 0 1em;
}
