<div>
    <h1>Add Person</h1>
    <form (ngSubmit)="onSubmit()" #addPerson="ngForm">
        <div style="grid-template-columns: 1fr 1fr 1fr;display: grid;">
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" id="firstName" [(ngModel)]="model.firstName" name="firstName">
            </div>
            <div class="form-group">
                <label for="middleName">Middle Name</label>
                <input type="text" class="form-control" id="middleName" [(ngModel)]="model.middleName"
                    name="middleName">
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" id="lastName" [(ngModel)]="model.lastName" name="lastName">
            </div>
        </div>
        <div class="form-group">
            <label for="street">Street</label>
            <input type="text" class="form-control" id="street" [(ngModel)]="model.street" name="street">
        </div>
        <div class="form-group">
            <label for="city">City</label>
            <input type="text" class="form-control" id="city" [(ngModel)]="model.city" name="city">
        </div>
        <div class="form-group">
            <label for="state">State</label>
            <input type="text" class="form-control" id="state" [(ngModel)]="model.state" name="state">
        </div>
        <div class="form-group">
            <label for="zipcode">Zip Code</label>
            <input type="text" class="form-control" id="zipcode" [(ngModel)]="model.zipcode" name="zipcode">
        </div>
        <div *ngIf="model.phones.length">
            <h3>Phones</h3>
            <div *ngFor="let phone of model.phones">
                Phone Number: {{phone.phoneNumber}}
                Type: {{phone.type}}
                <button (click)="removePhone(phone)">Remove</button>
            </div>
        </div>
        <div style="grid-template-columns: 1fr 1fr;display: grid;">
            <div class="form-group">
                <label for="phoneNumber">Phone Number</label>
                <input type="text" class="form-control" id="phoneNumber" [(ngModel)]="phoneModel.phoneNumber"
                    name="phoneNumber">
            </div>
            <div class="form-group">
                <label for="phoneType">Phone Type</label>
                <input type="text" class="form-control" id="phoneType" [(ngModel)]="phoneModel.type" name="phoneType">
            </div>
        </div>
        <button type="button" (click)="addPhone()">Add +</button>
        <div *ngIf="model.emails.length">
            <h3>Emails</h3>
            <div *ngFor="let email of model.emails">
                Email: {{email.email}}
                Type: {{email.type}}
            </div>
        </div>
        <div style="grid-template-columns: 1fr 1fr;display: grid;">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email" [(ngModel)]="emailModel.email" name="email">
            </div>
            <div class="form-group">
                <label for="emailType">Email Type</label>
                <input type="text" class="form-control" id="emailType" [(ngModel)]="emailModel.type" name="emailType">
            </div>
        </div>
        <button type="button" (click)="addEmail()">Add +</button>
        <div class="form-group">
            <label for="membership">Membership Level</label>
            <select class="form-control" id="membership" [(ngModel)]="model.membershipLevel" name="membership">
                <option>None</option>
                <option>Green</option>
                <option>Silver</option>
                <option>Gold</option>
            </select>
        </div>
        <!-- <div class="form-group">
            <label for=""></label>
            <input type="text" class="form-control" id="" [(ngModel)]="" name="">
        </div>
        <div class="form-group">
            <label for=""></label>
            <input type="text" class="form-control" id="" [(ngModel)]="" name="">
        </div>
        <div class="form-group">
            <label for=""></label>
            <input type="text" class="form-control" id="" [(ngModel)]="" name="">
        </div>
        <div class="form-group">
            <label for=""></label>
            <input type="text" class="form-control" id="" [(ngModel)]="" name="">
        </div>
        <div class="form-group">
            <label for=""></label>
            <input type="text" class="form-control" id="" [(ngModel)]="" name="">
        </div> -->
        <input type="submit">
    </form>
</div>